@model ASPMVC_DEMO_1.Models.Product
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>@ViewBag.Title</title>
</head>
<body>
<div>
    <h1>@ViewBag.Title</h1>
    <div>@ViewBag.Content</div>
    <h2>Demo product:</h2>
    <ul>
        <li>Id: @Model.Id</li>
        <li>Name: @Model.Name</li>
        <li>Price: @Model.Price</li>
    </ul>
    @using (Html.BeginForm("Add", "Default", FormMethod.Post))
    {
        <div>
            <input type="text" name="Name" placeholder="Product Name" required>
        </div>
        <div>
            <input type="text" name="Price" placeholder="Product Price" required pattern="^[0-9\,]{1,10}$">
        </div>
        <div>
            <input type="submit" value="Submit">
        </div>
    }
</div>
</body>
</html>